extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section.hero
    include ../common/header.pug
    .hero__content Привет
    .hero_arrow-down  