extends ../main.layout.pug

block variables
  - var title = 'Блог'

block content
  section.hero
    include ../common/header.pug
    .hero__content
      .hero__user-desc
        .user
          .user__pic-container
            .user_pic
              +image('content/user.jpg', 'user pic', 'user_pic-img')
          .user__info 
            .user__name
                +icon('blog_header', 'user__name-icon')
                h1.title Блог
            .user__desc Статьи, которые я написал
  section.blog
        .blog__triangle
            .blog__triangle-col
                svg(viewbox="0 0 1000 150").triangle--svg-left-triagle
                    polygon(points=("0 0, 1000 150, 0 150"))
            .blog__triangle-col
                svg(viewbox="0 0 1000 150").triangle--svg-right-triagle
                    polygon(points=("0 150, 1000 0, 1000 150"))
        .blog__content
            .blog__col.blog__col--left
                ul.blog-menu    
                    li.blog-menu__item.blog-menu__item--active
                        a(href="#1") Самое важное в SASS
                    li.blog-menu__item
                        a(href="#2") Приёмы в вёрстке, без которых не обходится ни один сайт
                    li.blog-menu__item
                        a(href="#3") Самый необходимый набор Gulp плагинов
                    li.blog-menu__item
                        a(href="#4") Почему я выбрал Jade
            .blog__col.blog__col--right
                .blog-art
                    a(name="1")
                    .blog-art__title
                        h2.art-title Самое важное в SASS
                    .blog-art__date 22 ноября 2016
                    .blog-art__html 
                        |Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        |Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        |<img>
                .blog-art
                    a(name="2")
                    .blog-art__title
                        h2.art-title Приёмы в вёрстке, без которых не обходится ни один сайт
                    .blog-art__date 13 ноября 2016
                    .blog-art__html 
                        |Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        |Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        |<img>
                .blog-art
                    a(name="3")
                    .blog-art__title
                        h2.art-title Самый необходимый набор Gulp плагинов
                    .blog-art__date 7 ноября 2016
                    .blog-art__html 
                        |Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        |Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        |<img>
                .blog-art
                    a(name="4")
                    .blog-art__title
                        h2.art-title Почему я выбрал Jade
                    .blog-art__date 5 ноября 2016
                    .blog-art__html 
                        |Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        |Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        |<img>

 
                

