extends ../auth.layout.pug

block content
  //.hello-world
    +icon('github', 'hello-world__block')
    .inlined-svg
  section.login
      .login__header
        .button.button--white Авторизоваться
      .login__content
        .login__user-info
          .user.user--login
            .user__pic-container
              .user_pic
                +image('content/user.jpg', 'user pic', 'user_pic-img')
            .user__info 
              .user__name Лашин Александр
              .user__desc Личный сайт разработчика
        .login__socials
          ul.socials
            each social in [['vk', 'https://vk.com/id436024674'], ['github', 'https://github.com/white84'], ['in', 'https://ru.linkedin.com/']]
                li.socials__item.socials__item--color-green
                  a(href=`${social[1]}` target="_blank").social__link
                    //+icon(social, 'socials__icon')
                    .socials__icon(class=`inlined-svg-${social[0]}`)
        .login__buttons
          .group-buttons
            .button.button--portfolio
              a(href="portfolio.html") Мои работы
            .button.button--about
              a(href="about.html") Обо мне
            .button.button--blog
              a(href="blog.html") Блог
  footer.footer-login © Лашин Александр | создано с любовью в LoftSchool | 2019

        



