extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block content
  section.hero
    include ../common/header.pug
    .hero__content
      .parallax
        -var n = 1; 
          while n < 11
            .parallax__layer
              img(src="assets/images/bg/parallax/layer-" + n++ + ".png").parallax__image
          .parallax__content
      +image('titles/portfolio-header.png', 'page title', 'title-img')
      .hero__user-desc
        .user
          .user__pic-container
            .user_pic
              +image('content/user.jpg', 'user pic', 'user_pic-img')
          .user__info 
            .user__name Лашин Александр
            .user__desc Личный сайт разработчика
      a.href(href="#works")
        .hero__arrow-down.inlined-svg-arrow-down 
  section.works
    a(name="works")

            svg(viewbox="0 0 1000 150").triangle--svg-left-triagle
                polygon(points=("0 0, 1000 150, 0 150"))
        
            svg(viewbox="0 0 1000 150").triangle--svg-right-triagle
                polygon(points=("0 150, 1000 0, 1000 150"))
    .works__title
        h1.title Мои работы
    .works__slider
        .slider
            .slider__details
                .slider-details
                    .slider-details__title
                        h2.title Сайт школы онлайн образования
                    .slider-details__description
                        p html, css, javascript
                    .slider-details__action
                        .button.button--before-icon-link Посмотреть сайт
            .slider__preview 
                    img(src="assets/images/bg/slider-preview-img.png", alt="картинка").slider-preview
            .slider__nav
                    .slider-nav__down
                        img(src="assets/images/bg/slider-down.png", alt="картинка").slider-preview
                        .inlined-svg-arrow-down 
                    .slider-nav__up
                        .inlined-svg-arrow-up 
                        img(src="assets/images/bg/slider-up.png", alt="картинка").slider-preview
  sections.recommendations
    .recommendations__title
        h1.title Что обо мне говорят
    .recommendation__content
        .recommendations__row
            .recommendations__col 
                i.icon.fa-quote-left
                .desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .user.user--flex-direction-row
                    .user__pic-container
                        .user_pic
                            +image('content/user1.jpg', 'user pic', 'user_pic-img')
                    .user__info 
                        .user__name Ковальчук Дмитрий
                        .user__desc основатель Loftschool
            .recommendations__col 
                i.icon.fa-quote-left
                .desc Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                .user.user--flex-direction-row
                    .user__pic-container
                        .user_pic
                            +image('content/user2.jpg', 'user pic', 'user_pic-img')
                    .user__info 
                        .user__name Сабанцев Владимир
                        .user__desc преподаватель
        .recommendations__feedback
            .recommendations__feedback-form
                form.feedback
                    .feedback-controls
                        .feedback__title
                            h2.title Связаться со мной
                        .feedback__name
                            input(name="name", placeholder="Имя").name
                        .feedback__email
                            input(name="email", placeholder="Email").email
                        .feedback__message
                            textarea(name="message", cols="30", rows="10", placeholder="Ваше сообщение").message
                    .feedback__actions  
                        .button.button--left Отправить
                        .button.button--right Очистить
            .recommendations__feedback-nav
                .inlined-svg-arrow-up
        include ../common/footer.pug
                

