.about{
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.about__col{    
    width: 50%;
    padding: 20px 20px 40px 20px;
    &--background
    {
        &-white
        {
            background-color: $white;
        }
        &-beige
        {
            background-color: $beige;
        }
    }
}


.triangle
{
    &--svg-left-triagle
    {
        fill: $white;
        position:absolute; top: -150px; right:50%; height: 150px;
    }
    &--svg-right-triagle
    {
        fill: $beige;
        position:absolute; top: -150px; left:50%; height: 150px;
    }
}





.about__right-title
{
    display: flex;
    min-height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.about__user-info
{
    display: flex;
    justify-content: center;
    .about__left-title
    {
        width: 100%;
        min-height: 120px;
        background: url('/assets/images/bg/about-header.png');
        background-position: top center;
        background-repeat: no-repeat;
        //background-size: 100%;            
        margin-bottom: 35px;
        padding-top: 40px;
        text-align: center;
    }
    .user-info{
        width: 100%;
        .user-info__avatar
        {
            text-align: center;
            margin-bottom: 30px;
            img{
                width: 100%;
                max-width: 390px;
                display: inline-block;
            }
        }

        .user-info__title
        {
            text-align: center;
            margin-bottom: 30px;
        }

        .user-info__text
        {
            text-align: center;
            //max-width: 390px;
            //width: 100%;
            p {
                max-width: 390px;
                text-align: left;
                display: inline-block;
            }
        }
    }
}







.title
{
    color: #455a64;
    display: inline-block;
    font-family: "bernier";
    color: rgb(55, 62, 66);
    line-height: 1;
    text-align: center;
    max-width: 400px;
    //padding: 0 60px;
    position: relative;
    text-align: center;
    text-transform: uppercase; 
    padding-left: 50px;
    padding-right: 50px;
    &::before
    {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        text-align: center;
        color: rgba(55, 62, 66, 0.2);
        font-weight: bold;
        content: "—";
    }
    &::after
    {
        position: absolute;
        display: inline-block;
        top:0;
        right: 0;
        width: 50px;
        text-align: center;
        color: rgba(55, 62, 66, 0.2);
        font-weight: bold;
        content: "—";
    }
}

.subtitle
{
    color: #455a64;
    display: inline-block;
    font-family: "bernier";
    color: rgb(55, 62, 66);
    line-height: 1;
    text-align: center;
    max-width: 400px;
    //padding: 0 60px;
    position: relative;
    text-align: center;
    text-transform: uppercase; 
    padding-left: 50px;
    padding-right: 50px;
    &::before
    {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        text-align: center;
        color: rgba(55, 62, 66, 0.2);
        font-weight: bold;
        content: "—";
    }
    &::after
    {
        position: absolute;
        display: inline-block;
        top:0;
        right: 0;
        width: 50px;
        text-align: center;
        color: rgba(55, 62, 66, 0.2);
        font-weight: bold;
        content: "—";
    }
}

.about__desc-text
{
    margin-bottom: 60px;
}

.skills
{

    .skills__item 
    {
        width: 100%;
        margin-bottom: 40px;
        .skills-row__title
        {
            margin-bottom: 5px;
            font-size: 28px;
            font-family: "Roboto";
            color: rgb(69, 90, 100);
        }

        .skills-row__list
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: -40px;
            .skill-row__item
            {
                display: inline-block;
                margin-left: 40px;
                position: relative;
                padding: 15px 0px;
            }
        }
    }
    .skills__item:last-child
    {
        margin-bottom: 0;
    }
}






.skill__progress-bar
{
    display: block;
    height: 120px;
    width: 120px;
    position: relative;

    &&::after {
        position: absolute;
        display: flex;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 50%;
        content: attr(title);
        margin-top: -40px;
        margin-left: -40px;
        justify-content: center;
        align-items: center;   
        text-align: center;     
    }
}

.skill__progress
{
    width:120px;
    height:120px;
    transform: rotate(-90deg);
}

.skill__circle
{
    stroke: $light-grey;
    stroke-width: 16px;
    fill: transparent;
    stroke-dasharray: 314;
    &--bar
    {
        stroke: $green;
        stroke-dashoffset: 314;
    }
}


@media screen and (max-width:1200px) {
    body {
        font-size: 16px;
    }
    .about__user-info
    {
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    h1.title{
        font-size: 49px;
    }
    h2.title{
        font-size: 30px;
    }
    h2.subtitle{
        font-size: 30px;
    }
    .skills-row__title
    {
        font-size: 21px;
    }
    .about
    {
        flex-direction: column;
        .about__col
        {
            width: 100%;
        }
        .triangle
        {
            &--svg-right-triagle
            {
                fill: $white;
            }
        }

        .about__desc-text
        {
            text-align: center;
            p{
                max-width: 390px;
                display: inline-block;
                text-align: left;
            }
        }

        .skills
        {
            .skills__item 
            {
                .skills-row__title
                {
                    text-align: center;
                }

                .skills-row__list
                {
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    body {
        font-size: 14px;
    }
    h1.title{
        font-size: 35px;
    }
    h2.title{
        font-size: 21px;
    }
    h2.subtitle{
        font-size: 21px;
    }
    .skills-row__title
    {
        font-size: 21px;
    }
}