.footer
{
    background: rgba(#373e42, .85);
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.5;




    .footer__row
    {
        display: flex;
        height: auto;
        border-bottom: 1px solid rgba(#FFFFFF, .1);
        padding: 15px 30px 15px 30px;
    }

    .footer__col
    {
        width: 50%;
        display: flex;
        &--justify-end
        {
            justify-content: flex-end;
        }
        align-items: center;        
    }

    .menu{
        .menu__item
        {
            margin-right: 40px;
            .menu_link
            {
                text-decoration: none;
                font-family: "Roboto";
                color: rgb(255, 255, 255);
                font-weight: bold;
            }
        }

        .menu__item:last-child
        {
            margin-right:0;
        }
        
    }

    
}

@media screen and (max-width:910px) {
    .footer
    {
        .footer__row
        {
            flex-direction: column;
            .footer__col
            {
                width: 100%;
                justify-content: center;
                text-align: center;
                margin-bottom: 15px;
            }
            .footer__col:last-child
            {
                margin-bottom: 0;
            }
        }
    }
}



