.group-buttons
{
    display: flex;
    justify-content:center;

    
    .button
    {
        border-radius: 0px;
        border-right: rgba(222, 227, 231, .5) solid 2px;
        max-width: 100%;
    }

    .button:last-child
    {
        border-right: none;
        border-bottom-right-radius: 5px;
    }

    .button:first-child
    {
        border-bottom-left-radius: 5px;
    }
}