.header__socials
{
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 100;
}

.header__menu
{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100;
}

.hamburger
{
  .hamburger-box
  {
    .hamburger-inner
    {
      background-color: $white;
      &::before
      {
        background-color: $white;
      }
      &::after
      {
        background-color: $white;
      }
    }
  }
  &:focus {
    outline: none;
  }
}

.hamburger.is-active
{
  .hamburger-box
  {
    .hamburger-inner
    {
      background-color: $white;
      &::before
      {
        background-color: $white;
      }
      &::after
      {
        background-color: $white;
      }
    }
  }
}

/*.hamburger
{
  width: 40px;
  height: 36px;
  display: block;
  position: relative;
  .inlined-svg-hamburger {
    width: inherit;
    height: inherit;
    cursor: pointer;
    background: svg-load('hamburger.svg', fill=$white) center center no-repeat;
  }
}*/


