.hero
{
    height: 100vh;
    background: url('assets/images/bg/bg-photo-1800x789.jpg') center center / cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hero__content
    {
        position: absolute;
        height: 100vh;
        width: 100%;

        .title-img
        {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .hero__user-desc
        {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            .user__pic-container
            {
                .user_pic
                {
                    display: inline-block;
                    border-radius: 50%;
                    background-color: $white;
                    width: 141px;
                    height: 141px;
                    overflow: hidden;
                }
            }

            .user__info 
            {
                font-family: "Roboto";
                color: rgb(255, 255, 255);
                .user__name
                {
                    font-size: 35px;
                }
                .user__desc
                {
                    font-size: 16px;
                }
            }
        }
    }

    .hero__arrow-down.inlined-svg-arrow-down
    {
        position: absolute;
        bottom: 50px;
        width: 30px;
        height: 30px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        z-index: 100;
        background: svg-load('arrow-down.svg', fill=$white, fill-opacity="0.4") center center no-repeat;
    
        &:hover {
          background-image: svg-load('arrow-down.svg', fill=$white, fill-opacity="1");
        }
    }
}