.login{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    //background: url('assets/images/bg/bg-photo-1800x789.jpg') center center / cover no-repeat;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 25px 100px 40px 100px; 

    .parallax
    {
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;



        .parallax__layer
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .parallax__image
            {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 115%;
            }
        }

        .parallax__layer:first-child
        {
            .parallax__image
            {
                top: 0;
                height: 100%;
            }
        }
    }
    

    .login__header
    {
        display: flex;
        right: 100px;
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 25px;
        z-index: 100;
    }
    .login__content
    {
        z-index: 100;
        width: 380px;
        background-color: rgba(239, 238, 233, .8);
        border-radius: 5px;
        margin-bottom: 40px;
        .login__user-info
        {
            padding: 40px;
        }
        .login__socials
        {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }
        .login__buttons
        {
            .button--portfolio
            {
                min-width: 134px;
                width: 100%;
            }
            .button--about
            {
                min-width: 105px;
                width: 100%;
            }
    
            .button--blog
            {
                min-width: 76px;
                width: 100%;
            }
        }
    }

    .login__footer
    {
        color: $white;
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}


@media screen and (max-width:1200px) {
    .login{
        padding: 25px 25px 30px 25px;
    }
}

@media screen and (max-width:768px) {
    .login{
        padding: 25px 25px 30px 25px;
        .login__content
        {
            width: 348px;
        }
    }
}

@media screen and (max-width:480px) {
    body {
        font-size: 14px;
    }
    .login{
        padding: 5px 10px 40px 10px;
        .login__header
        {
            justify-content: center;
        }
        .login__content
        {
            width: 300px;
            .login__buttons
            {
                .button--portfolio
                {
                    min-width: 130px;
                    width: 100%;
                }
                .button--about
                {
                    min-width: 100px;
                    width: 100%;
                }
        
                .button--blog
                {
                    min-width: 70px;
                    width: 100%;
                }
            }
        }
        
    }
}