.login{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background: url('assets/images/bg/bg-photo-1800x789.jpg') center center / cover no-repeat;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 25px 100px 40px 100px;
    

    .login__header
    {
        display: flex;
        right: 100px;
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 25px;
    }
    .login__content
    {
        width: 380px;
        background-color: rgba(239, 238, 233, .8);
        border-radius: 5px;
        margin-bottom: 40px;
        .login__user-info
        {
            padding: 40px;
        }
        .login__socials
        {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }
        .login__buttons
        {
            .button--portfolio
            {
                min-width: 134px;
                width: 100%;
            }
            .button--about
            {
                min-width: 105px;
                width: 100%;
            }
    
            .button--blog
            {
                min-width: 76px;
                width: 100%;
            }
        }
    }

    .login__footer
    {
        color: $white;
        display: flex;
        width: 100%;
        justify-content: center;
    }
}