.user{
    display: flex;
    flex-direction: column;
    text-align: center;


    .user__pic-container
        {
            .user_pic
            {
                display: inline-block;
                border-radius: 50%;
                background-color: $white;
                width: 141px;
                height: 141px;
                overflow: hidden;
            }
        }

    .user__info 
        {
            font-family: "Roboto";
            color: $text-color-white;
            .user__name
            {
                font-size: 35px;
                .user__name-icon
                {
                    fill: $white;
                    opacity: 0.1;
                    position: absolute;
                    margin-top: -20px;
                    left: 50%;
                    transform: translate(-50%);
                }
                .title{
                    color: $white;
                }
            }
            .user__desc
            {
                font-size: 16px;
            }
        }

    &--flex-direction-row
    {
        flex-direction: row;
        align-items: center;
        text-align: left;

        .user__pic-container
        {
            .user_pic
            {
                width: 77px;
                height: 77px;
                img{
                    width: inherit;
                    height: inherit;
                }
            }
        }
        .user__info
        {
            margin-left: 20px;
            color: rgb(32, 181, 161);
            .user__name
            {
                font-size: 16px;
                font-weight: bold;
            }
            .user__desc
            {
                font-size: 16px;        
            }
        }
    }

    &--login
    {
        .user__info 
        {
            color: $text-color;
        }
    }
}
