.works{
    background-color: #faf8f0;
    position: relative;

    .triangle--svg-left-triagle, .triangle--svg-right-triagle
    {
        fill: #faf8f0;
    }

    .works__col{    
        position: relative;
        width: 50%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .works__title
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 185px;
        background: svg-load('works_header.svg', fill=$grey, fill-opacity=0.1) center center no-repeat;
        

        .title
        {
            font-size: 63px;
        }
    }

   /* .works__slider
    {
        
        
    }*/
    .slider
    {
        display: grid;
        min-height: 100%;
        grid-template-columns: 
            1fr 1fr;
        grid-template-rows:
            530px auto;
        grid-template-areas: 
            "details preview"
            "details nav";
    }

    .slider__details
    {
        grid-area: details;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0efe9;
        padding: 20px;
        .slider-details
            {
                max-width: 430px;
                text-align: center;
                
                .slider-details__description
                {
                    margin-top: 40px;
                    padding: 20px;
                    border-top: 1px solid rgba(0, 150, 136, .3);
                    border-bottom: 1px solid rgba(0, 150, 136, .3);
                    text-transform: uppercase;

                    p{
                        color: rgb(32, 181, 161);
                        line-height: 1.2;
                    }
                }

                .slider-details__action
                {
                    margin-top: 40px;

                    
                }
            }
    }
    .slider__preview
    {
        background-color: #efebe0;
        grid-area: preview;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 20px;
        .slider-preview
        {
                height: auto;
                width: 100%;
                max-height: 100%;
        }
    }
    .slider__nav
    {
        grid-area: nav;
        background-color: #efebe0;
        display: flex;
        align-items: flex-end;
            position: relative;
            img{
                width: 100%;
            }
            .slider-nav__down, .slider-nav__up
            {
                width: 100%;
                max-height: 100%;
                position: relative;
                .inlined-svg-arrow-down
                {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    cursor: pointer;
                    z-index: 100;
                    background: svg-load('arrow-down.svg', fill=#FFFFFF) center center no-repeat;
                    background-color: rgba(182, 180, 174, .7);
                    &:hover
                    {
                        background-color: rgba(182, 180, 174, .2);
                        
                    }
                }
                .inlined-svg-arrow-up
                {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    cursor: pointer;
                    z-index: 100;
                    background: svg-load('arrow-down.svg', fill=#FFFFFF) center center no-repeat;
                    background-color: rgba(182, 180, 174, .7);
                    transform: rotate(180deg);
                    &:hover
                    {
                        background-color: rgba(182, 180, 174, .2);
                        
                    }
                }
            }
    }
}
.recommendations
{
    position: relative;
    display: flex;
    min-height: 100vh;
    background: url('assets/images/bg/bg-recommendations.jpg') center center / cover no-repeat;
    flex-direction: column;
    position: relative;
    //background-attachment: fixed;


    .recommendations__title
    {
        display: flex;
        height: 220px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: svg-load('about_header.svg', fill=$grey, fill-opacity=0.1) center center no-repeat;
        
    }

    .recommendation__content
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .recommendations__row
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            margin-bottom: 70px;
    
            .recommendations__col
            {
                width: 400px;
                padding: 20px;
    
                .icon{
                    font-family: "FontAwesome";
                    font-size: 24px;
                    display: block;
                    margin-bottom: 30px;
                }
                .fa-quote-left:before {
                    content: "\f10d"; 
                    color: rgba(55, 62, 66, 0.2);
                }
    
                .desc
                {
                    margin-bottom: 30px;
                }
            }
        }
        .recommendations__feedback
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 70px;
            width: 100%;

            .recommendations__feedback-form
            {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 70px;
                .feedback
                {
                    width: 400px;
                    border-radius: 5px;
                    overflow: hidden;
                    background: inherit;
                    background-attachment: fixed;
                    background-color: #FFFFFF;
                    
                    .feedback-controls
                    {
                        padding: 38px 20px 20px 20px;
            
                        .feedback__title
                        {
                            margin-bottom: 38px;
                        }
                        .feedback__name, .feedback__email
                        {
                            margin-bottom: 20px;
                        }
                    }
                    //opacity: 0.1;
                    
            
                    /*&:before {
            
                        content: '';
                      
                        width: 450px;
                      
                        height: 500px;
                      
                        background: inherit;
                      
                        position: absolute;
                      
                        left: -25px;
                      
                        top: -25px;
                      
                        box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
                      
                        filter: blur(30px);
                      
                      }*/
            
                    input{
                        border-radius: 5px;
                        height: 45px;
                        width: 100%;
                        font-size: 16px;
                        padding-left: 20px;
                        padding-right: 20px;
                        border: 1px solid rgb(169, 169, 169);
                        z-index: 1000;
                        &::placeholder { 
                            color: rgba(55, 62, 66, 0.502); 
                          }
                        
                    }
                    textarea
                    {
                        
                        border-radius: 5px;
                        height: 140px;
                        width: 100%;
                        font-size: 16px;
                        padding-left: 20px;
                        padding-right: 20px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        resize: none;
                        &::placeholder { 
                            color: rgba(55, 62, 66, 0.502); 
                          }
                    }
                    
            
                    .feedback__actions
                    {
                        display: flex;
                        flex-direction: row;
                        .button--left
                        {
                            width: 50%;
                        }
                        .button--left
                        {
                            width: 50%;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            border-top-left-radius: 0;
                            border-right: rgba(222, 227, 231, .5) solid 2px;
                            text-align: center;  
                        }
                        .button--right
                        {
                            width: 50%;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            border-top-right-radius: 0;
                            text-align: center;
                        }
                    }
                }
            }
            .recommendations__feedback-nav
            {
                display: flex;
                justify-content: center;
                width: 100%;
                .inlined-svg-arrow-up
                {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    z-index: 100;
                    background: svg-load('arrow-down.svg', fill=#FFFFFF) center center no-repeat;
                    transform: rotate(180deg);
                    &:hover{
                        background-image: svg-load('arrow-down.svg', fill=$white, fill-opacity="1");
                    }
                }
            }
        }
    }
}


@media screen and (max-width:768px) {
    .works
    {
        .slider
        {
            display: grid;
            
            grid-template-columns: 
                1fr;
            grid-template-rows:
                530px auto auto;
            grid-template-areas: 
                "preview"
                "details"
                "nav";
            .slider__details
            {
                padding: 30px;
                .slider-details
                {
                    width: 100%;
                }
            }
            
        }
        .works__slider{
            .slider__col--left
            {
                display: none;
            }
            .slider__col--rigth{
                width: 100%;
            }
        }
    }
    .recommendations
    {
        .recommendation__content
        {
            .recommendations__row
            {
                flex-direction: column;
                .recommendations__col
                {
                    width: 100%;
                    .icon
                    {
                        text-align: center;
                    }
                }
            }
            .recommendations__feedback
            {
                .recommendations__feedback-form
                {
                    .feedback
                    {
                        width: 348px;
                    }
                }
            }
        }
    }    
}

@media screen and (max-width:480px) {
    .recommendations
    {
        .recommendation__content
        {
            .recommendations__feedback
            {
                .recommendations__feedback-form
                {
                    .feedback
                    {
                        width: 300px;
                    }
                }
            }
        }
    }    
}


